# Ignore directories for virtual environments.
.venv/
venv/

# Ignore IDE or editor configuration files.
build/
dist/
.vscode/
.idea/

# Ignore files related to package dependencies.
**/__pycache__/
*.pyc
*.pyo

# Ignore files.
*.log
*.spec
*.csv
*.xlsx
*.jsonl
*Zone.Identifier
logs/
reports/


#세팅 폴더 제거 
/settings/